body {
	/*background-image: url(smart.jpg);
	background-repeat: no-repeat;
	background-position: 100px 100px;*/

}

div.div1 {
	border-style: dotted;
	border-width: 3px;
	border-color:red;
	border-radius: 40px;
	cursor: crosshair;
	
}

div.div2 {
	border-style: dashed;
	min-height: 50px;
	min-width: 100px;
	max-height: 250px;
	max-width: 300px;
	
	padding: 20px;
	cursor: crosshair;
	
	
}

div.div3 {
	border-style: solid;
	height: 100px;
    width: 250px;
	overflow: auto;
	min-height: 50px;
	min-width: 100px;
	max-height: 250px;
	max-width: 300px;
	cursor: help;
}

div.div4 {
	border-style: double;
	cursor: pointer;
	}

div.div5 {
	border-style: groove;
	cursor: text;
}

ul { 
	list-style-type: square;
	list-style-position: outside;
 }